// Importing the content of the "colors.scss" file 

@import "colors.scss";

// Creating reusable blocks of CSS styles

@mixin col-position-and-height {
    position: relative;
    height: 100%;
}

@mixin center-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -120%);
}

//Global
* {
    color: $text-color;
    font-size: 1.2rem;
}

.container {
    background-color: $page-color;
    border: 1px solid #000;
    display: flex;
    height: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
    width: 50%;

    .left {
        background-color: $dark-column-color;
        width: 69%;
        @include col-position-and-height;    // include those block of styles defined above
    }

    .right {
        background-color: $faded-column-color;
        width: 29%;
        @include col-position-and-height;    // include those block of styles defined above

        .button {
            background-color: $btn-color;
            color: $dark-column-color;
            border: 0;
            border-radius: 10px;
            cursor: pointer;
            width: 7em;
            height: 2.5em;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5em 2em;

            //this is to center content vertically
            @include center-content;
        }
    }

}