// Variables

$primary-bg-color: rgb(218, 170, 14);
$secondary-bg-color: rgb(255, 255, 255);
$text-color: rgb(49, 49, 48);
$link-color: rgb(255, 255, 255);
$link-hover-color: rgb(218, 170, 14);
$button-bg-color: rgb(218, 170, 14);
$button-hover-bg-color: rgb(184, 142, 12);