/* Nest Nav */
nav ul {
  list-style-type: none;
  margin: 0;
  margin-top: 15px;
  margin-left: 40px; }

nav ul li {
  font-family: Arial, Helvetica, Sans-Serif;
  display: inline;
  color: white;
  cursor: pointer; }

nav ul li a {
  text-decoration: none;
  color: white; }

nav ul li a:hover {
  color: #daaa0e; }
